<template>
  <div>
    <b-jumbotron header="Dragón" lead="Automatizador de tareas" />

    <div class="container">
      <form action="">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="mes">A que mes corresponde</label>
              <b-select
                v-model="mes"
              >
                <option value="Enero">Enero</option>
                <option value="Febrero">Febrero</option>
                <option value="Marzo">Marzo</option>
                <option value="Abril">Abril</option>
                <option value="Mayo">Mayo</option>
                <option value="Junio">Junio</option>
                <option value="Julio">Julio</option>
                <option value="Agosto">Agosto</option>
                <option value="Septiembre">Septiembre</option>
                <option value="Octubre">Octubre</option>
                <option value="Noviembre">Noviembre</option>
                <option value="Diciembre">Diciembre</option>
              </b-select>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="baseXLS">Archivo Anexo</label>
              <b-form-file
                id="baseXLS"
                v-model="baseXLS"
                :state="Boolean(baseXLS)"
                placeholder="Cargá acá el archivo base"
                drop-placeholder="Arrastralo acá..."
              ></b-form-file>
            </div>
            <div class="mt-3">Archivo Seleccionado: {{ baseXLS ? baseXLS.name : '' }}</div>
          </div>
          <!--
          <div class="col-6">
            <b-form-file
              v-model="formatXLS"
              :state="Boolean(formatXLS)"
              placeholder="Cargá acá el archivo de formato"
              drop-placeholder="Arrastralo acá..."
            ></b-form-file>
            <div class="mt-3">Archivo Seleccionado: {{ formatXLS ? formatXLS.name : '' }}</div>
          </div>
          %-->
        </div>
        <div class="row">
          <div class="col-12">
            <b-button v-on:click="formatearNuevaData()">Automatize</b-button>
          </div>
        </div>
      </form>

      {{ htmlXLS }}

    </div>
  </div>
</template>

<script>
import XLSX from 'xlsx';
export default {
  name: 'App',
  components: {
  },
  data() {
    return {
      mes: null,
      htmlXLS: null,
      baseXLS: null,
      formatXLS: {
        'A': {
          'fixed': '20'
        },
        'B': {
          'col': 'Z'
        },
        'C': {
          'minlen': 8,
          'col': 'Q'
        },
        'D': {
          'fixed': '00'
        },
        'E': {
          'fixed': 'mes'
        },
        'F': {
          'fixed': '1'
        },
        'G': {
          'col': 'Y'
        },
        'H': {
          'fixed': ''
        },
        'I': {
          'fixed': '0000000000000000ADN'
        }
      },
      exportXls: null
    }
  },
  asyncComputed: {
    async parsedBaseXLS(){
      if(this.baseXLS){
        return await this.parseFile(this.baseXLS);
      } else {
        return null;
      }
    },
  },
  methods: {
    parseFile: function(file){
      var reader = new FileReader();
      reader.readAsArrayBuffer(file);
      return new Promise(resolve => {
        reader.onload = function(e) {
          var data = new Uint8Array(e.target.result);
          var worksheet = XLSX.read(data, {type: 'array'});
          console.log(worksheet);
          resolve(worksheet);
        };
      });
    },
    formatearNuevaData: function(){
      var data = this.parsedBaseXLS.Sheets["Anexo"];
      var newData = [];
      var totalRows = parseInt(data['!ref'].split(':')[1].replace(/\D/g,''));
      for (let index = 2; index < totalRows + 1; index++) {
        newData[index] = [];
        Object.keys(this.formatXLS).forEach(key => {
          const col = this.formatXLS[key].col;
          if(col) {
            var value = data[col+index]['v'];
            if(col == 'Q'){
              newData[index].push(value.padStart(this.formatXLS[key].minlen, '0'));
            } else {
              newData[index].push(value);
            }
          } else if(this.formatXLS[key].fixed && this.formatXLS[key].fixed == 'mes') {
            newData[index].push(this.mes);
          } else {
            newData[index].push(this.formatXLS[key].fixed);
          }
        });
      }
      this.exportarData(newData);
    },
    exportarData: function(data){
      const ws = XLSX.utils.aoa_to_sheet(data);
      const wb = XLSX.utils.book_new();
      XLSX.utils.book_append_sheet(wb, ws, 'Anexo Formateado');
      XLSX.writeFile(wb, 'export.xls');
    }
  }
}
</script>

<style>

</style>
